<!DOCTYPE html>

<html>

<head>

	<title>Wolf Systems</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="apple-mobile-web-app-status-bar-style" content="white" />

	<link href="../css/jquery.mobile.icons.min.css" rel="stylesheet" type="text/css"  />

	<link href="../css/jquery.mobile-1.4.2.min.css" rel="stylesheet" type="text/css" title="app-theme" />

	<link href="../css/style.css" rel="stylesheet" type="text/css"  />

	<link href="../css/dark.css" rel="stylesheet" type="text/css"  />


</head>

<body onLoad="app.initialize();">

<div data-role="page" id="truss">

	<div data-role="header" class="header">

		<h1>Wolf Systems</h1>

	</div><!-- /header -->

	<div role="main" class="ui-content">
		
		<div class="row">

			<label for="rafter">Rafter size:</label>

			<input type="number" name="rafter" id="rafter">

		</div>

		<div class="row">

			<label for="pitch">Pitch:</label>

			<input type="number" name="pitch" id="pitch">

		</div>

		<div class="row">

			<label for="span">Span:</label>

			<input type="number" name="span" id="span">

		</div>

		<div class="row">

			<label for="uside">U/side:</label>

			<input type="number" name="uside" id="uside">

		</div>

		<div class="row">

			<label for="span">Overall:</label>

			<input type="number" name="overall" id="overall">

		</div>

	</div><!-- /content -->

	<div class='footer-wrapper'>

		<div data-role="footer" style="overflow:hidden;">
	
		    <div data-role="navbar" data-iconpos="top">
	
	            <ul>
	
	                <li><a href="../index.html" data-icon="grid" data-transition="slide" >Angle</a></li>
	
	                <li><a href="truss.html" data-icon="star" class="ui-btn-active">Truss</a></li>
	
	                <li><a href="suppliers.html" data-icon="shop" data-transition="slide">Suppliers</a></li>
	
	                <li><a href="options.html" data-icon="gear" data-transition="slide">Options</a></li>
	
	            </ul>
	
	        </div><!-- /navbar -->
	
		</div><!-- /footer -->	
	
	</div><!-- /footer-wrapper -->

</div><!-- /page -->

<script type="text/javascript" charset="utf-8" src="../js/jquery-2.1.1.js"></script>

<script type="text/javascript" charset="utf-8" src="../js/jquery.mobile-1.4.2.min.js"></script>

<script type="text/javascript" charset="utf-8" src="../js/index.js"></script>

</body>

</html>